<app-navbar></app-navbar>

<!--<mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile>
        <mat-card-content class="parameter-content">-->
            <div class="paramater-container">
                <div class="parameter-title">
                    <h2>PARAMETERS</h2>
                </div>
                <div class="parameter">
                    <div class="parameter-box">
                        <label for="faculty">Faculty</label>
                        <select id="faculty" name="Faculty" [(ngModel)]="selectedFaculty" (change)="onFacultySelected(selectedFaculty)">
                            <option *ngFor="let faculty of faculties" [value]="faculty">{{ faculty }}</option>
                        </select>
                    </div>
                    <div class="parameter-box">
                        <label for="department">Department</label>
                        <select id="department" name="Department" [(ngModel)]="selectedDepartment" (change)="onDepartmentSelected(selectedDepartment)">
                            <option *ngFor="let department of departments" [value]="department">{{ department }}</option>
                        </select>
                    </div>
                    <div class="parameter-box">
                        <label for="subject">Subject</label>
                        <select id="subject" name="Subject" [(ngModel)]="selectedSubject">
                            <option *ngFor="let subject of subjects" [value]="subject">{{ subject }}</option>
                        </select>                           
                    </div>
                    <div class="parameter-box">
                        <label for="student-number">Student Number</label>
                        <input type="text" id="student-number" name="studentNumber" [(ngModel)]="typedStudentNumber" (input)="onStudentNumberInput()">
                        <div *ngIf="suggestedStudentNumbers.length > 0" class="suggestions">
                            <ul>
                                <li *ngFor="let number of suggestedStudentNumbers" (click)="onSelectSuggestedStudentNumber(number)">{{ number }}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="buttonSearch">
                        <button mat-button type="submit" class="btn" (click)= "sendDataToSearch()"><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>
        <!--</mat-card-content>
    </mat-grid-tile>
</mat-grid-list>-->

<mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile>
        <mat-card-content class="parameter-content">
            <div class="student-record-content">
                <div class="student-record-title">
                    <h2>STUDENT RECORD</h2>
                </div>
                <div class="student-record">
                    <table>
                      <thead>
                        <tr>
                          <th>Faculty</th>
                          <th>Department</th>
                          <th>Subject</th>
                          <th>Student Number</th>
                          <th>Attendance Rate</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngIf="student">
                          <td>{{ student.faculty }}</td>
                          <td>{{ student.department }}</td>
                          <td>{{ student.subject }}</td>
                          <td>{{ student.studentNumber }}</td>
                          <td>{{ student.attendanceRate }}%</td>
                        </tr>
                      </tbody>
                    </table>
                  </div> 
            </div>
        </mat-card-content>
    </mat-grid-tile>
</mat-grid-list>

