.wholePage {
    display: flex;
    flex-direction: column;
  }
  
  .first-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  
  .second-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

.tableGrid{
    width: 100%;
}

.globalGraph{
    width: 90%;
    padding-left: 10%;
    padding-top: 1%;
}

.global-record th {
    background-color: #ff9a00;
    font-size: 1.3em;
    color: white;
}

.global-record tr:hover {
    background-color: aliceblue;
}

.global-record th, .global-record td {
    border: none;
    padding: 12px;
    text-align: left;
}

.facultySearch{
    width: 30%;
}

.facultyTrend{
    width: 70%;
}

.standardText {
    padding-top: 90px;
    padding-left: 30%;
    margin-bottom: 10%;
}

.standardText h2{
    font-size: 2.5em;
    color: rgba(41, 135, 179, 0.87);
}

.universityGlobalGraph{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.315);
    border-radius: 5px;
    backdrop-filter: blur(20px); 
}

.universityGlobalCount{
    color: #000000;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.199);
    border-radius: 5px;
    backdrop-filter: blur(20px); 
}

.title{
    background-color: rgba(41, 135, 179, 0.87);
    padding: 10px;
}

.universityGlobalCount h2{
    color:rgb(255, 255, 255);
    font-size: 2em;
}

.table thead, tbody, tr{
    color: rgb(0, 0, 0);

}


.data-table {
    width: 100%;
    border-collapse: collapse;
}

.data-table th,
.data-table td {
    padding: 8px 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    background-color: rgba(41, 135, 179, 0.87);
    color: rgb(255, 255, 255);
}

.data-table tbody tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.1);
}

.data-table tbody tr:hover {
    background-color: #ff9a00;
}

.facultySearch{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.315);
    border-radius: 5px;
    backdrop-filter: blur(20px); 
}

.facultyTrend{
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.199);
    border-radius: 5px;
    backdrop-filter: blur(20px);
}

.facultySearch-title{
    background-color: #ADD8E6;
    color:rgb(255, 255, 255);
    padding: 10px;
}

.trend-view {
    background-color: #ADD8E6;
    color:rgb(255, 255, 255);
    padding: 10px;
}

.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

mat-form-field{
    width: 100%;
}
.input-box::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #c9cdcf;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #000000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input{
    width: 90%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    font-weight: 100;
    padding: 0 35px 0 5px;
}

.btn{
    width: 100%;
    height: 45px;
    background: #ADD8E6;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.btn:hover{
    background: rgb(11, 55, 105);
}

.universityGlobalGraph {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }

.chartButon1{
    left: 10%;
    color: white;
    font-size: 1.3em;
    background: rgba(35, 119, 158, 0.87);
    width: 100%;
    height: 10vh;
    border: none;
    outline: none;
    padding: 50px;

}

.chartButon1:hover{
    background: rgb(11, 55, 105);
}

.chartButon2{
    left: 10%;
    color: white;
    font-size: 1.3em;
    background: #87CEFA;
    width: 100%;
    height: 15vh;
    border: none;
    outline: none;
    padding: 50px;

}

.chartButon2:hover{
    background: #75b1d6;
}


.chartButon3{
    left: 10%;
    color: white;
    font-size: 1.3em;
    background: #9370DB;
    width: 100%;
    height: 10vh;
    border: none;
    outline: none;
    padding: 54px;

}
.chartButon3:hover{
    background: #775aaf;
}

.parameterbuttons {
    display: flex;
    flex-direction: column;
}

mat-checkbox {
    margin-bottom: 20%;
}

@media(max-width: 584px){
    .wholePage{
     max-width: 100%;
 }
}

@media(max-width: 459px){
    .wholePage{
      flex-direction: column;
    }
}