<mat-toolbar class="mat-navbar">
    <span>
      <div class="logo">
        <a routerLink="/admin-layout" class="admin-layout"><img src="/assets/images/logo.png" alt="logo"></a>
      </div>
    </span>
    <div class="navbar_menu">
      <div class="menu-item">
    <!-- <button mat-button><i class="bi bi-bell-fill"></i></button>     
        <button mat-button><i class="bi bi-list"></i></button> -->
        <button mat-button [matMenuTriggerFor]="menu"><i class="bi bi-list"></i></button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="studentSearch()">STUDENT SEARCH</button>
          <button mat-menu-item (click)="classlistSearch()">CLASSLIST SEARCH</button>
          <button mat-menu-item (click)="standardDashboard()">STANDARD DASHBOARD</button>
        </mat-menu>
        <label>Menu</label>
      </div>
      <div class="menu-item">
      <!--  <button mat-button><i class="bi bi-gear-fill"></i></button> -->
        <button mat-button (click)="logout()"><i class="bi bi-box-arrow-left"></i></button>
        <label>Log out</label>
      </div>
    </div>
  </mat-toolbar>
<!--
  <mat-toolbar class="mat-option_bar">
    <button mat-button (click)="studentSearch()">STUDENT</button>
    <button mat-button (click)="classlistSearch()">CLASSLIST</button>
    <button mat-button (click)="standardDashboard()">STANDARD DASHBOARD</button>
     <button mat-button (click)="customSearch()">CUSTOM</button> 
  </mat-toolbar>
-->
  